<div class="card viewServiceOrderStyle">
  <h2 class="text-center headerColor">Update Services</h2>
  <form #newserv="ngForm">
    <div class="form-group">
      <label for="newCarService">Recommend Service:</label>
      <select type="text" id="newCarService" class="form-control" ngModel name="newCarService" required>
        <option *ngFor="let service of allCarServiceArray" value='{"type":"{{service.type}}","price":"{{service.price}}","desc":"{{service.desc}}","status":"recommended"}'>{{service.type}}</option>
      </select>
      <button [disabled]="!newserv.valid" (click)="addToProposeServArray(newserv); newserv.reset()"  type="button" class="btn btn-dark">Enter</button>
      <div *ngIf = "addErrMsg != ''" class="alert alert-danger">
        <p>{{addErrMsg}}</p>
      </div>
    </div>
  </form>
  <div *ngIf="curAddServiceArray.length > 0">
    <form #recserv="ngForm">
      <div class="form-group">
        <label for="recCarService">Update Recommended Services:</label>
        <select type="text" id="recCarService" class="form-control" ngModel name="recCarService" required>
          <option *ngFor="let service of curAddServiceArray" value='{"type":"{{service.type}}","price":"{{service.price}}","desc":"{{service.desc}}","status":"recommended"}'>{{service.type}} ({{service.status}})</option>
        </select>
        <button [disabled]="!recserv.valid" (click)="approveRecServ(recserv); recserv.reset()" type="button" class="btn btn-info">Approve Service</button>
        <button [disabled]="!recserv.valid" (click)="declineRecServ(recserv); recserv.reset()" type="button" class="btn btn-warning">Decline Service</button>
        <button [disabled]="!recserv.valid" (click)="removeRecService(recserv); recserv.reset()" type="button" class="btn btn-danger">Remove Service</button>
      </div>
    </form>
  </div>
  <form #serv="ngForm">
    <div class="form-group">
      <label for="curCarService">Update Current Services:</label>
      <select type="text" id="curCarService" class="form-control" ngModel name="curCarService" required>
        <option *ngFor="let service of curCarServiceArray" value='{"type":"{{service.type}}"}'>{{service.type}} ({{service.status}})</option>
      </select>
      <button [disabled]="!serv.valid" (click)="completeService(serv); serv.reset()"  type="button" class="btn btn-success">Complete Service</button>
      <button [disabled]="!serv.valid" (click)="removeService(serv); serv.reset()"  type="button" class="btn btn-danger">Remove Service</button>
    </div>
  </form>

<hr>
  <form (ngSubmit)="onSubmit(f);f.reset()" #f="ngForm">
    <div class="form-group">
      <h2 class="text-center headerColor">Update General Info</h2>
      <label for="cusAttendant">Attendant:</label>
      <select type="text" id="cusAttendant" class="form-control" ngModel name="cusAttendant" required>
        <option *ngFor="let employee of allEmployeesArray" value="{{employee}}">{{employee}}</option>
      </select>
      <label for="status">Status:</label>
      <select type="text" id="status" class="form-control" ngModel name="status">
       <option value=""></option>
       <option value="pending">Pending</option>
       <option value="in progress">In Progress</option>
       <option value="waiting on parts">Waiting on Parts</option>
       <option value= "waiting on customer">Waiting on Customer</option>
       <option value="work complete">Work Completed</option>
       <option value="closed">Closed</option>
     </select>
     <label for="location">Location:</label>
     <select type="text" id="location" class="form-control" ngModel name="location">
      <option value=""></option>
      <option value="Lot">Lot</option>
      <option value="Bay-1">Bay 1</option>
      <option value="Bay-2">Bay 2</option>
      <option value="Bay-3">Bay 3</option>
    </select>
    <button type="submit" class="btn btn-primary">Update Order</button>
  </div>
</form>

<form (ngSubmit)="onNoteSubmit(note);note.reset()" #note="ngForm">
  <div class="form-group">
    <label for="orderNotes">Add Notes:</label>
    <textarea class="form-control" type="text" id="orderNotes" name="notes" ngModel required></textarea>
    <button [disabled]="!note.valid"  type="submit" class="btn btn-success">Add Note</button>
  </div>
</form>

</div>
