.viewCustomerOrderStyle {
  background: rgb(245,245,245);
  padding: 10px;
  margin-top: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.headerColor {
  color: rgb(0,62,83);
}
.greenColor {
  color: green;
}

.yellowColor {
  color: rgb(228,188,54);
}

.blueColor {
  color: blue;
}

.redColor {
  color: rgb(186,0,1);
}

.infoColor {
  color: rgb(23,119,148);
}


.pendingColor {
  color: rgb(0,23,164);
}

.inProgressColor {
  color: rgb(255,102,2);
}

.partsColor {
  color: rgb(196,0,123);
}

.customerColor {
  color: rgb(255,0,2);
}

.workCompletedColor {
  color: rgb(22,172,2);
}
.closedColor{
  color: rgb(99,0,164);
}
.descStyle{
  color: black;
}
.hoverItem:hover{
  background: rgb(228,188,54);
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0,62,83);
}
.clickedClass{
  background: rgb(179,201,196);
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0,62,83);
}
.approveSelectedBtn {
  margin-right: 5px;
}
.declineBtn {
  margin-right: 5px;
}
.bodyFont {
  font-family: 'Bree Serif', serif;
}
.bodyColor {
  color: rgb(29,89,179);
}
.priceFont {
  font-family: 'Tinos', serif;
}
.statusFont {
  font-family: 'Roboto Slab', serif;
}
