.headerColor {
  color: rgb(0,62,83);
}

.greenColor {
  color: green;
}

.yellowColor {
  color: rgb(228,188,54);
}

.blueColor {
  color: blue;
}

.redColor {
  color: rgb(186,0,1);
}

.infoColor {
  color: rgb(101,191,206);
}
