  <h2 class='text-center headerColor'>View Service Order</h2>
  <h3 class="headerColor"><u>Customer Info</u></h3>
  <h5>Name: {{orderInfo?.cusFirstName}} {{orderInfo?.cusLastName}}</h5>
  <h5>Phone Number: {{orderInfo?.cusPhoneNumber}}</h5>
  <h5>Email: {{orderInfo?.cusEmail}}</h5>
  <h3 class="headerColor"><u>Current Services</u></h3>
    <div *ngFor="let service of orderInfo?.cusCarService" >
      <h5 class="greenColor"><li *ngIf="service.status == 'complete'">{{service.status | uppercase}}: {{service.type}}</li></h5>
      <h5 class="blueColor"><li *ngIf="service.status == 'pending'">{{service.status | uppercase}}: {{service.type}}</li></h5>
    </div>
  <div *ngIf="currentServiceArr.length > 0">
    <h3 class="headerColor"><u>Recommended Services</u></h3>
    <div *ngFor="let service of orderInfo?.cusCarService" >
      <h5 class="infoColor"><li *ngIf="service.status == 'recommended'">{{service.status | uppercase}}: {{service.type}}</li></h5>
    </div>
  </div>
  <div *ngIf="declinedServiceArr.length > 0">
    <h3 class="headerColor"><u>Declined Services</u></h3>
    <div *ngFor="let service of orderInfo?.cusCarService" >
      <h5 class="yellowColor"><li *ngIf="service.status == 'declined'">{{service.status | uppercase}}: {{service.type}}</li></h5>
    </div>
  </div>
  <h3 class="headerColor"><u>General Info</u></h3>
  <h5>Status: {{orderInfo?.status | uppercase}}</h5>
  <h5>Make: {{orderInfo?.cusCarMake}}</h5>
  <h5>Model: {{orderInfo?.cusCarModel}}</h5>
  <h5>Year: {{orderInfo?.cusCarYear}}</h5>
  <h5>Attendant: {{orderInfo?.cusAttendant}}</h5>
  <h5>Location: {{orderInfo?.location}}</h5>
  <h5>Notes:</h5>
  <ul>
    <li *ngFor="let note of orderNotes">{{note}}</li>
  </ul>
  <h5>Created: {{orderInfo?.created_at | date:"medium"}}</h5>
  <h5>Last Update: {{orderInfo?.updatedAt | date:"medium"}}</h5>
