
<div class = 'jumbotron'>

  <!-- Begin page content -->



  <div class = "container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center mainHeader"><strong>Main Menu</strong></h1>
      </div>
    </div>
  <div class = 'row'>
    <div class='col-md-4'>
      <div class="card rowMargin cardPadding hoverStyle signupcustomer" routerLink="/signupform">
        <div class="card-body">
          <h4 class="card-title text-center cardHeader"><div>Sign Up</div> Customer</h4>
        </div>
      </div>
    </div>
  <div class="col-md-4">
    <div class="card rowMargin cardPadding hoverStyle findcustomer" routerLink="/findcustomer">
      <div class="card-body">
        <h4 class="card-title text-center cardHeader"><div>Find</div> Customer</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card rowMargin cardPadding hoverStyle createserviceorder" routerLink="/createserviceorder">
      <div class="card-body">
        <h4 class="card-title text-center cardHeader"><div>Create a </div>Service Order</h4>
      </div>
    </div>
  </div>
</div><!--end of row -->
<div class = "row">
  <div class="col-md-4">
    <div class="card rowMargin cardPadding hoverStyle servicedashboard" routerLink="/servicedashboard">
      <div class="card-body">
        <h4 class="card-title text-center cardHeader"><div>View Service</div> Dashboard</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card rowMargin usersignup cardPadding hoverStyle" routerLink="/usersignup">
      <div class="card-body">
        <h4 class="card-title text-center cardHeader"><div>Employee</div> Sign Up</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card rowMargin cardPadding addservice hoverStyle" routerLink="/addservice">
      <div class="card-body">
        <h4 class="card-title text-center cardHeader"><div>Add</div> Service</h4>
      </div>
    </div>
  </div>
</div><!--end of row -->
</div> <!-- /container -->



</div>




<!-- Bootstrap core JavaScript
      ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
