
.signupcustomer{
    background-color: black;
    color: yellow;
}
#button1{
    background-color: white;
    color: black;
}
.findcustomer{
    background-color: #00788C;
    color: #1D1160;

}
#button2{
    background-color: #ffffff;
    color:  #888B8D;
}
.createserviceorder{
    background-color: #008248;
    color: #ffffff;

}
#button3{
    background-color: #ffffff;
    color:  #008248;
}
.servicedashboard{
    background-color: #B72B35;
    color: #111111
}
#button4{
    background-color: #FFFFFF;
    color: #A4A9AD

}
.usersignup{
    background-color: #552583;
    color: #FDB927;
}
#button5{
    background-color: #FFFFFF;
    color: #000000;
}
.addservice {
    background-color: #0E3386;
    color: #CC3433;

}
#button6{
    background-color: #ffffff;
    color: #CC3433;
}
.rowMargin{
  margin-top: 15px;
}
.cardPadding{
  padding: 40px;
}
.hoverStyle:hover {
  background: rgb(228,188,54);
  cursor: pointer;
  color: rgb(0,62,83);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(141,172,166)
}
.mainHeader{
  font-family: 'PT Serif', serif;
}
.cardHeader{
  font-family: 'Bree Serif', serif;
}
