.btnSmallMargin {
  margin-top: 7px;
}
.defaultCardStyle{
  background: rgb(245,245,245);
  padding: 10px;
  margin-top: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.pageHeaderStyle {
  font-size: 50px;
}
.introHeader {
  background: rgb(0,62,83);
  border-color: rgb(228,188,54);
  border-width: 2px;
  border-style: solid;
  color: rgb(210,233,225);
  font-family: 'Merriweather', serif;
  margin-bottom: 0px;
}
