<div class="header text-center jumbotron introHeader jumbrotron-fluid">
    <div class="container">
      <div *ngIf="!isLoggedIn">
        <h1 class="pageHeaderStyle text-center">Welcome to The Garage App</h1>
      </div>
      <div *ngIf="isLoggedIn">
        <h1 class="pageHeaderStyle text-center">{{name}}'s Account</h1>
          <button type="button" routerLink="/customerportal" class="btn btn-outline-primary">Home</button>
          <button type="button" (click)="logOut()" class="btn btn-outline-danger">Logout</button>
      </div>
    </div>
</div>
