<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <label for="phoneNumber">Customer Phone Number:</label>
        <input type="text" id="custSearchPhone" class="form-control" ngModel name="custSearchPhone" required minlength="10" maxlength="10">
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
      <div *ngIf="errorMsg != ''">
        <div class="alert alert-danger">{{errorMsg}}</div>
      </div>
    </div>
  </div>
</div>
